.app{
    background-color: rgba(255, 255, 255, 1);
    width: 1440px;
    margin: auto;
}
a.app:active, a.app:hover, a{
    text-decoration: none;
    color: #666;
}
.header-app{
    width: 1200px;
    height: 53px;
    margin: auto;
    margin-top: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.header-center{
    display: flex;
    justify-content: space-around;
    width: 351px;
}
.header-r{
    display: flex;
    justify-content: space-around;
    width: 250px;
}
.app-btn-login-link{
    width: 100px;
    height: 35px;
    background-color: rgba(70, 163, 88, 1);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-btn-login-link div{
    margin-bottom: 5px;
}
.app-btn-login{
    width: 100px;
    height: 35px;
    background-color: rgba(70, 163, 88, 1);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.mainBaner{
    width: 1200px;
    height: 450px;
    background-color: rgba(245, 245, 245, 0.5);
    display: block;
    margin: auto;
}
.btn-baner{
    width: 140px;
    height: 40px;
    background-color: rgba(70, 163, 88, 1);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.textbaner{
    position: relative;
    top: 100px;
    width: 600px;
    margin: auto 50px;
}
.flowerbig{
    position: relative;
    top: -250px;
    left: 700px;
}
.flowersmall{
    position: relative;
    top: -285px;
    left: 200px;
}
.home-content{
    width: 1200px;
    margin: 50px auto;
    display: flex;
}
.products{
    margin: auto 20px;
    width: 1000px;
    height: 1100px;
    display: flex;
    flex-wrap: wrap;
}
.categhome{
    display: flex;
    flex-direction: column;
    /* height: 100%; */
}
.wrapcateg{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.wrapcateg .a{
  text-decoration: none;
  color: #666;
}
.categories{
    padding: 30px;
    width: 320px;
    background-color: rgba(251, 251, 251, 1);
}
.foter-app{
    width: 1200px;
    height: 88px;
    margin: auto;
    background-color: rgba(70, 163, 88, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.foter-item{
    display: flex;
    align-items: center;
}
